{% extends "tienda/base.html" %}
{% block title %}Pedido # {{pedido.id}} {% endblock %}

{% block content %}
<h1>Pedido # {{pedido.id}}</h1>
<p><b>Cliente:</b> {{ pedido.cliente.nombre }}</p>
<p><b>Fecha:</b> {{ pedido.fecha|date:"d/m/Y H:i" }} </p>
<p><b>Estado:</b> {{ pedido.estado }}</p>

<h3>Productos</h3>

{% if items %}
    <table class="tabla">
        <thead>
            <tr>
                <th class="encabezado">Producto</th>
                <th class="encabezado">Cantidad</th>
                <th class="encabezado">Precio unit.</th>
                <th class="encabezado">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for it in items %}
                <tr>
                    <td>{{ it.producto.nombre }}</td>
                    <td>{{ it.cantidad }}</td>
                    <td>{{ it.precio_unitario|floatformat:2 }}</td>
                    <td>{{ it.inline_total|floatformat:2 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Este pedido no tiene items</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total a pagar</td>
                <td>${{ total_pedido|floatformat:2}}</td>
            </tr>
        </tfoot>
    </table>
{% else %}
 <p> Este pedido aun no tiene items. </p>
{% endif %}

<p>
    <a href="{% url 'tienda:editar_pedido_items' pedido.pk %}" class="btn primary"> Editar pedido </a>
    <a href="{% url 'tienda:eliminar_pedido' pedido.pk %}" class="btn primary"> Eliminar pedido </a>
    <a href="{% url 'tienda:lista_pedido'  %}" class="btn primary"> Volver a listar </a>
</p>
{% endblock%}
