{% extends "tienda/base.html" %}
 {% block title %} Lista Pedidos{% endblock %}
 {% block content %}
 <h1>Pedidos</h1>
 <p>
    <a href="{% url 'tienda:crear_pedido_items' %}" class="btn primary">Nuevo pedido</a>
 </p>

 <h1> Pedidos </h1>
 <ul>
    {% for p in pedidos %}
    <li>
        <a href="{% url 'tienda:detalle_pedido' p.pk %}">
            pedido #{{p.id}}

        </a>
        - Cliente: {{ p.cliente.nombre}}
        - Estado: {{ p.estado }}
        - Fecha: {{mp.fecha|date:"d/m/Y" }}
        - Productos: {{ p.total_productos|default:"0" }}
        - Total: ${{ p.total_precio|default:"0.00" }}
    </li>

 {% empty %} 
  <li>No hay productos disponibles</li>
  {% endfor %} 
  </ul> 
 {% endblock  %}
 